html {
    font-family: "Helvetica-Neue", "Helvetica", sans-serif;
    font-size: 1.2em;
    color: white;
}

body {
    margin: 0;
    background-color: #191923;
}

header {
    height: 30px;
}

#nav-container {
    background-color: black;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
}

.nav-item a {
    display: block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.nav-item a:visited {
    color: white;
    text-decoration: none;
}

.nav-item a:hover {
    border-bottom: 1px solid #22CC99;
}

#logo {
    text-align: center;
}

#logo h1 {
    font-size: 4em;
    font-weight: 100;
}

#logo h2 {
    font-size: 1.5em;
}

#title {
    text-align: center;
    font-size: 1.5em;
    font-weight: 25;
}

#container {
    max-width: 800px;
    margin: auto;
    padding: 1em;
}

h2 {
    font-size: 2.5em;
    font-weight: 100;
}

a:visited { 
    color: #22CC99;
}

.picture {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact, #add {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

input,
textarea {
    border: .1em solid lightgrey;
    border-radius: .3em;
    font-size: inherit;
    padding: .5em;
    margin: .5em;
    outline: none;
}

input:focus,
textarea:focus {
    border: .1em solid #22CC99;
}

button {
    border: .1em solid #22CC99;
    border-radius: .3em;
    font-size: inherit;
    padding: .5em;
    margin: .5em;
    outline: none;
}

button:focus {
    border: .1em solid lightgrey;
}

button {
    background-color: #22CC99;
    cursor: pointer;
}

button:hover {
    background-color: rgb(21, 184, 135);
}

footer {
    color: grey;
    text-align: center;
    padding: 1em;
}